body {
    font-family: 'Caudex', serif;
    background-color: rgb(252, 250, 250);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #fff;
    border-bottom: rgb(83, 83, 83) solid 1px;
}

#menu {
    margin-left: 40px;
    color: #1c50a2;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    width: 20%;
    cursor: pointer;
}

.last {
    color: #1c50a2;
    font-weight: bold;
}

#firma h2 {
    color: #1c50a2;
}

#firma {
    width: 70%;
    margin-left: 100px;
    font-size: 1.3vw;
}

#firma a {
    color: #1c50a2;
    text-decoration: none;
}

#maps {
    height: 500px;
    width: 600px;
    margin-left: 40px;
    border-radius: 10px;
    border: 1px solid rgb(83, 83, 83);
    box-shadow: 2px 5px 4px 3px rgb(83, 83, 83);
}

#hero-cont {
    background-color: #fff;
    width: 100%;
    height: 85vh;
    margin-top: 6%;
    display: flex;
    align-items: center;
    box-shadow: 2px 5px 4px 3px rgb(83, 83, 83);
    border-radius: 15px;
    margin-bottom: 6%;
}

#glowna {
    background-color: #fff;
    width: 100%;
    height: 70vh;
    margin-top: 6%;
    display: flex;
    align-items: center;
    box-shadow: 2px 5px 4px 3px rgb(83, 83, 83);
    border-radius: 15px;
}

#andrzej {
    background-color: rgb(252, 250, 250);
    width: 100%;
    height: 45vh;
    margin-top: 6%;
    display: flex;
    align-items: center;

}

#andrzej-info {
    width: 60%;
    margin-left: 100px;
    font-size: 1.3vw;
}

#jakub {
    background-color: rgb(252, 250, 250);
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
}

#jakub-info {
    width: 60%;
    margin-left: 100px;
    font-size: 1.3vw;
}

#jakub-info a {
    text-decoration: none;
    color: #1c50a2;
}

.andrzej {
    width: 200px;
    height: 300px;
    text-align: left;
    margin: 5px;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 2px 5px 4px 3px rgb(83, 83, 83);
}

.jakub {
    width: 200px;
    height: 300px;
    text-align: left;
    margin: 5px;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 2px 5px 4px 3px rgb(83, 83, 83);
}

.contact {
    display: block;
    text-align: center;
    padding: 10px
}

#mail a {
    color: #1c50a2;
    text-decoration: none;
}

footer {
    background-color: rgb(252, 250, 250);
    width: 100%;
    height: 300px;
    border-top: 2px solid rgb(146, 146, 146);
}

#copyright {
    text-align: center;
    color: rgb(146, 146, 146)
}

.logo {
    width: 70%;
    height: 60%;
    margin-left: 40px;
}

.logo2 {
    width: 400px;
    height: 300px;
    text-align: left;
    margin: 5px;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 2px 5px 4px 3px rgb(83, 83, 83);
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #f1f1f1;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(83, 83, 83);
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #1c50a2;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#info {
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.icons {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

#info span {
    margin-left: 15px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* Slider z tekstem */
.slider {
    width: 90%;
    height: 50px;
    overflow: hidden;
    text-align: center;

}

.slider div {
    font-size: 20px;
    color: #1c50a2;
    font-weight: bold;
    height: 50px;
    margin: 50px;
    padding: 2px 2px;
    text-align: center;
    box-sizing: border-box;

}

.slider-text1 {
    background: #fff;
    animation: slide 10s linear infinite;
}

.slider-text2 {
    background: #fff;
}

.slider-text3 {
    background: #fff;
}

@keyframes slide {
    0% {
        margin-top: -300px;
    }

    5% {
        margin-top: -200px;
    }

    33% {
        margin-top: -200px;
    }

    38% {
        margin-top: -100px;
    }

    66% {
        margin-top: -100px;
    }

    71% {
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}


* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    width: 100%;
    height: 70vh;
    margin-top: 6%;
    position: static;
    display: grid;
    align-content: center;
    justify-content: center;
    box-shadow: 2px 5px 4px 3px rgb(83, 83, 83);
    border-radius: 15px;
}

.slideshow-img {
    height: 60vh;
    width: auto;
    margin-top: 20px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 450px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}